{{!-- current blog and you can leave a comment --}}

<div class="text-center">
  <h2>{{title}}</h2> {{!-- from blog.js model --}}
  <p>{{content}}</p> {{!-- from blog.js model --}}
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <article class="media">
  <figure class="media-left">
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" id="addCommentTextArea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button" id="postCommentBtn">Post comment</button>
      </p>
    </div>
  </div>
</article>
  </p>
</div>
