<!-- homepage/add new blog. does NOT display current blogs with content only blog title and date created -->

         <div class="control">
            {{#each blogs}}
            <field class="textarea has-fixed-size" rows="1">
              {{title}} by {{user.name}} on {{format_date date_created}}
            </field>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>

<button class="btn"><i class="fa-solid fa-plus"> New Post</i></button>

<script src="js/homepage.js"></script>