<!-- homepage/add new blog/does NOT display current blogs, dashboard displays blogs -->

    <!-- posted blogs (blog post title and date created only)  -->
         <div class="control">
            {{#each blogs}}
            <field class="textarea has-fixed-size" rows="1">
              {{title}} by {{user.name}} on {{format_date date_created}}
            </field>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>

<!--need new post button to populate new post/textarea-->
<button class="btn"><i class="fa-solid fa-plus"> New Post</i></button>

<script src="js/homepage.js"></script>