<section class="section is-paddingless-horizontal">
  <div class="container grid-xl">
    <div class="columns is-mobile">
      <div class="column is-full-width">
        <div class="notification">
          {{date_created}}
          <form id="new-post-form">
            <div class="field center">
              <div class="control">
                <input type="text" placeholder="Title" id="blog-title">
              </div>
            </div>

            <textarea class="textarea is-large" rows="6" class='form-control' name="post-body" id="blog-content"
              placeholder="Start blog..."></textarea>
          <br>
            <div class="buttons center">
              <div class="text-right">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </form>
          <br>